@import "../../styles/index.scss";

.modal-singup_tuyendung {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-header {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-size: 24px;
            font-weight: 600 !important;

        }
    }

    &-select {
        width: 100%;

        h3 {
            text-align: center;
            font-size: 19px;
            font-weight: 600;
            font-family: "Roboto", sans-serif;
            margin-top: 20px;
        }

        &-container {
            width: 100%;
            display: flex;
            gap: 80px;
            align-items: end;

            &-item {
                width: 100%;

                img {
                    width: 100%;
                }

                &-button {}
            }
        }
    }
}

.signup_tuyendung {

    &-img {
        background-image: url('../../assets/image/img_login_signup_tuyendung/singup_image_tuyendung_bg.jpg');
        background-size: cover;
        background-position: 0 -200px;
        background-repeat: no-repeat;
        height: 300px;
        display: block;
    }

    &-header {
        background-color: rgba($color: green, $alpha: 0.7);
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;

        &-navbar {
            max-width: 1350px;
            width: 100%;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            margin: 8px;

            span {
                color: $text-default;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                cursor: pointer;
            }

            img {
                width: 160px;
                cursor: pointer;
            }
        }

        &-body {
            margin: 0 auto;
            color: $text-default;
            text-align: center;

            h1 {
                font-weight: 500;
                line-height: 1.2;
                color: $text-default;
            }
        }
    }

    &-body {
        max-width: 850px;
        margin: -100px auto 0;
        background-color: $bg-second;
        padding: 0 50px;
        border-radius: 20px;

        &_header {
            display: flex;
            justify-content: space-between;
            padding: 16px 0;
            background-color: $bg-second ;
            border-bottom: 1px solid $bg-app ;
        }

        &_header-tittle {
            margin-top: 8px;
            border-bottom: 1px solid $border-grey;
            padding-bottom: 20px;

            b {
                color: $text-error;
            }

            .phone {
                color: $text-green;
                font-weight: 700px;
                font-size: 20px;
                border-radius: 50%;
                padding: 12px;
                background-color: $bg-icon-phone;
            }
        }

        &-form {
            width: 100%;
            position: relative;
            padding-bottom: 100px;

            .title-acc {
                margin-top: 10px;
            }

            &_item {
                display: flex;
                justify-content: space-between;
                margin-top: 16px;

                &-input {
                    width: 70%;

                    p {
                        margin-top: 8px;
                    }

                    input {
                        width: 100%;
                    }
                }
            }

            &_submit {
                position: absolute;
                right: 50px;
                bottom: 50px;
                display: flex;
                flex-direction: column;


                button {
                    display: inline-block;
                }
            }
        }
    }
}