@import "@/styles/index.scss";

.laixuatkep {
    background-color: $bg-app-congcu;
    display: flex;
    align-items: center;
    margin: 10px auto;
    width: 100%;

    .container {
        display: flex;
        width: 1350px;
        gap: 20px;
        margin: 20px auto;

        .main {
            width: 66%;


            &-recipe {
                background-color: $bg-default;
                padding: 12px;
                border-radius: 12px;

                &-title {
                    font-size: 24px;
                    line-height: 1.4em;
                    color: $text-green;
                    margin-bottom: 16px;
                }

                &-decreption {
                    color: $text-second;
                    font-size: .8em;
                    font-style: italic;
                    line-height: 1.6em;
                    text-align: justify;
                    margin-bottom: 48px;
                }
            }
        }

        .news {
            width: 33%;
            background-color: royalblue;
            border-radius: 20px;
        }
    }
}