@import "@/styles/index.scss";

.header {
  @include flex-justConten-Between;
  align-items: center;
  padding: 15px 30px;

  &-img {
    @media screen and (max-width: 900px) {
      display: none;
    }

    img {
      height: 50px;
    }
  }

  &-container {
    &-nav {
      display: flex;
      flex: 1;
      gap: 30px;

      @media screen and (max-width: 750px) {
        display: none;
      }

      &_item {
        display: inline-block;
      }
    }
  }

  &-login {
    &_list {
      display: flex;
      justify-content: end;

      @media screen and (max-width: 1249px) {
        // display: none;
      }

      gap: 30px;

      &-item {
        display: inline-block;
      }
    }
  }

  .drawer-icon_menu-left {
    display: none;

    @media screen and (max-width: 750px) {
      font-size: 2rem;
      display: block;
    }
  }

  .drawer-icon_menu-right {
    display: none;

    @media screen and (max-width: 1249px) {
      font-size: 2rem;
      display: block;
    }
  }
}