// base color
//btn
$btn-green: #00b14f;
$btn-default: #ffffff;
$btn-error: #999;
$btn-border: #00b14f;

// text
$text: #333;
$text-second: #6c757d;
$text-error: tomato;
$text-green: #00b14f;
$text-default: #ffffff;

//bg
$bg-app: #dedede;
$bg-default: #fff;
$bg-second: #f2fef6;
$bg-btn-grey: #212f3f;
$bg-icon-phone: #e5f7ee;
// border color
$border-grey: #999;

//header
$bg-list-dropdown: #fafafa;