// base color
//btn
$btn-green:#00b14f;
$btn-default: #ffffff;
$btn-error:#999;

// text
$text:#333;
$text-error:tomato;
$text-success:green;
$text-logo:yellow;

//bg
$bg-app:#dedede;
$bg-default: #fff;
$bg-second:#f2fef6;

// border color
$bg-border:#999;


