@import '@/styles/index.scss';

#components-dropdown-demo-placement .ant-btn {
    margin-right: 8px;
    margin-bottom: 8px;
}

.dropdown-container {
    display: flex;
    margin-top: 12px;
    width: 600px;
    border-radius: 20px;

    &-left {
        width: 60%;
        font-size: 16px;
    }

    &-right {
        width: 50%;
        background-image: url('../../../../../assets/image/img_header_dropdown/nav-job.webp');
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 8px;
    }
}

.item-dropdown {
    background-color: $bg-list-dropdown;
    margin: 0;
    border-radius: 4px;

    &:hover {
        background-color: $bg-app;

    }
}

.link-dropdown {
    margin-left: 4px;
    border-radius: 4px;
}